VITE_API_URL=http://localhost:7070
VITE_API_TIMEOUT_MS=15000
VITE_SELLER_API_URL=/seller-backend
VITE_SELLER_API_PROXY_TARGET=http://137.184.42.115:7090

VITE_BACKEND_PROXY_TARGET=http://localhost:7070
